@media (max-device-aspect-ratio: 1/1) {
  body {
    font-size: 2.0em;
  }
}

@media (max-device-width: 500px) {
  body {
    font-size: 2.5em;
  }
}

@media (max-device-width: 800px) {
  body {
    font-size: 2.0em;
  }
}
